{% extends 'base.html.twig' %}

{% block title %}Me connecter{% endblock %}

{% block body %}
<form method="post" class="w-3/12 m-auto">
    <h1 class="text-3xl text-center mb-10 font-light">Déjà client ?</h1>

    {% if error %}
        <div class="bg-red-200 border-l-4 border-red-800 text-red-800 py-4 px-3 rounded-r-md -mt-5 flex align-center"><i class="fa-solid fa-circle-exclamation text-2xl mr-2"></i> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="mt-5">
        <label for="inputEmail" class="font-bold">Adresse e-mail</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="border border-gray-500 block w-full h-12 pl-3 text-lg" autocomplete="email" required autofocus>
    </div>

    <div class="mt-5">
        <label for="inputPassword" class="font-bold">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="border border-gray-500 block w-full h-12 pl-3 text-lg" autocomplete="current-password" required>
        <a href="" class="text-sm text-gray-500">Avez-vous oublié votre mot de passe ?</a>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <div class="checkbox mt-3 text-gray-500">
        <label>
            <input type="checkbox" name="_remember_me"> Rester connecter ?
        </label>
    </div>

    <button class="mt-3 w-full bg-black text-white h-12 border-2 border-black hover:bg-white hover:text-black" type="submit">
        Se connecter
    </button>

    <a href="{{ path('app_register') }}" class="text-sm text-gray-400 hover:text-pink-500">Vous n’avez pas encore de compte ? <span class="text-black hover:opacity-50">Créer un compte.</span></a>
</form>
{% endblock %}
